<div class="row">
    <div class="col-md-12">
        <p i18n>Sort by: </p>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark" (click)="sortTransactions('date')" i18n>Date</button>
            <button type="button" class="btn btn-outline-dark" (click)="sortTransactions('beneficiary')"
                i18n>Beneficiary</button>
            <button type="button" class="btn btn-outline-dark" (click)="sortTransactions('amount')" i18n>Amount</button>
        </div>
    </div>
</div>