.recentTransactions{
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    .header{
        background-color: #0c8397;
        color: white;
        margin-bottom: 0;
        padding: 14px;
        text-align: center;
        font-weight: 100;
    }
    .recentTransactionsBody{
        padding: 10px;
    }
}