.recentTransactions{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.transactionDiv{
    padding-top: 10px;
    border: 1px solid grey;
}

img{
    width: 55px;
    height: 55px;
}