.recentTransactions{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.transactionDiv{
    padding: 10px 0px;
    border: 1px solid grey;
    p{
        margin: 0;
    }
}

img{
    width: 55px;
    height: 55px;
}