<div class="recentTransactions">
    <h2 i18n="Title for the history of the transactions" class="header">Recent Transactions</h2>
    <div class="recentTransactionsBody">
        <div class="row">
            <div class="col-md-6">
                <app-search-transactions></app-search-transactions>
            </div>
            <div class="col-md-6">
                <app-sort-transactions></app-sort-transactions>
            </div>
        </div>
        <br>
        <app-recent-transaction *ngFor="let transactionEl of transactions; let i = index" [transaction]="transactionEl">
        </app-recent-transaction>
    </div>
</div>