<div class="container">
    <div class="row transactionDiv" appHover [appLeftBorderColor]="transaction.categoryCode">
        <div class="col-md-2">
            <p>{{transaction.transactionDate | date:'MMM dd'}}</p>
        </div>
        <div class="col-md-2">
            <img [src]="transaction.merchantLogo" [alt]="transaction.merchant">
        </div>
        <div class="col-md-6">
            <p>{{transaction.merchant}}</p>
        </div>
        <div class="col-md-2 text-break">
            <p class="">-{{transaction.amount | currency:'USD'}}</p>
        </div>
    </div>
</div>