.successScreen{
    background-color: white;
    opacity: 0.8;
    border: 2px solid  #0c8397;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 1px 1px 100px 10px rgba(0, 0, 0, 0.8);
    .note{
        font-size: xx-small;
    }
}